
#why-choose-us{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.choose-us-flex{
    display: flex;
    justify-content: center;
}

.choose-us-contact-main{
    padding-left: 90px;
}

.choose-us-title{
    font-size: 64px;
    font-weight: 400;
    padding-top: 40px;
    letter-spacing: .025em;
    color: rgba(21, 21, 21, 0.09);
}

.choose-us-navbar-ul{
    width: 600px;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    border-bottom: 3px solid #e1e1e1;
}

.choose-us-navbar-li{
    position: relative;
    letter-spacing: 1px;
    color: #9b9b9b;
    transition: 0.5s;
    padding-bottom: 5px;
    overflow: hidden;
}

.choose-us-navbar-li:hover{
    color: #01b3a7;
    cursor: pointer;
}

.choose-active-navbar{
    color: #01b3a7;
    border-bottom: 2px solid #01b3a7;
}

.choose-us-relative-div{
    position: relative;
    margin-top: 30px;
    width: 600px;
    height: 350px;
}

.choose-us-contact{
    position: absolute;
    width: 600px;
    height: 350px;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s ease-in-out;
}

#first-choose-us-contact{
    z-index: 3;
}

#second-choose-us-contact{
    z-index: 2;
}

#third-choose-us-contact{
    z-index: 1;
}

#choose-navbar-border-first{
    background-color: #01b3a7;
    width: 100%;
    height: 2px;
    opacity: 1;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.20s ease-in-out;
}

#choose-navbar-border-second{
    background-color: #01b3a7;
    width: 0%;
    height: 2px;
    opacity: 1;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.20s ease-in-out;
}

#choose-navbar-border-third{
    background-color: #01b3a7;
    width: 0%;
    height: 2px;
    opacity: 1;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: 0.20s ease-in-out;
}

#choose-us-first-navbar{
    color: #01b3a7;
}

.choose-us-text{
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    color: #151515;
    width: 550px;
}

.progression-bar-title{
    color: #9b9b9b;
    font-size: 18px;
    line-height: 1;
    letter-spacing: .075em;
    margin-top: 35px;
}

.progression-bar-main-div{
    display: flex;
    position: relative;
}

.left-bar{
    margin-top: 13px;
    background-color: #50ba87;
    height: 6px;
    width: 470px;
}

.orange-bar{
    background-color: #e7a855 !important;
    width: 400px !important;
}

.blue-bar{
    background-color: #01b3a7;
    width: 1400px;
}

.right-bar{
    margin-top: 13px;
    background-color: #DDDDDD;
    height: 6px;
    width: 200px;
}

.white-circle{
    position: absolute;
    top: 6px;
    left: 412px;
    background-color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.1);
}

.second-white-circle{
    left: 391px;   
}

.third-white-circle{
    left: 516px;
}

.green-circle{
    position: absolute;
    background-color: #50ba87;
    width: 10px;
    height: 9px;
    border-radius: 100%;
    top: 11px;
    left: 417px;
}

.orange-circle{
    background-color: #e7a855;
    position: absolute;
    top: 11px;
    left: 417px;
    width: 10px;
    height: 9px;
    border-radius: 100%;
}

.second-orange-circle{
    left: 396px;
}

.blue-circle{
    position: absolute;
    background-color: #01b3a7;
    top: 11px;
    left: 521px;
    width: 10px;
    height: 9px;
    border-radius: 100%;
}

.progression-percent{
    position: absolute;
    color: #9b9b9b;
    top: -18px;
    left: 409px;
    font-size: 18px;
    letter-spacing: .075em;
}

.second-progression-percent{
    left: 387px;
}

.third-progression-percent{
    left: 509px;
}

.percentage-main-flex{
    display: flex;
}

.percentage-main-div{
    width: 200px;
    height: 200px;
    position: relative;
}

.percentage-blue-border{
    position: absolute;
    border: 12px solid #01b3a7;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 56% 0, 95% 0, 84% 25%, 49% 21%, 22% 100%, 100% 100%, 100% 0);
}

.percentage-gray-border{
    border: 8px solid #e1e1e1;
    border-radius: 100%;
    width: 145px;
    height: 143px;
    position: absolute;
    z-index: -1;
    top: 2px;
}

.percentage-div{
    color: #151515;
    font-size: 48px;
    position: absolute;
    top: 51px;
    left: 35px;
}

.second-blue-border{
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 52% 0, 100% 0, 100% 52%, 50% 50%, 50% 100%, 100% 100%, 100% 0);
}

.third-blue-border{
    clip-path: polygon(0% 0%, 0% 100%, 50% 100%, 52% 0, 100% 0, 56% 0, 50% 50%, 50% 100%, 100% 100%, 100% 0);
}

.percentage-title{
    position: absolute;
    color: #151515;
    font-size: 16px;
    bottom: 6px;
    left: 53px;
    width: 200px;
}

.second-percentage-title{
    left: 31px;
}

.third-percentage-title{
    left: 10px;
}

.mission-text{
    font-size: 14px;
    line-height: 1.71429;
    font-weight: 400;
    letter-spacing: normal;
    color: #151515;
    width: 550px;
}

.mission-list{
    columns: 2;
    list-style-type: disc;
    margin-left: 10px;
}

.mission-li{
    margin-left: 10px;
    color: #01b3a7;
    line-height: 3;
}

.mission-span{
    color: #151515;
}

@media screen and (min-device-width:768px) and (max-device-width:1279px){
    #why-choose-us{
        height: 1000px;
    }

    .choose-us-contact{
        height: 583px;
        width: 606px;
    }

    .horizons-button-one{
        width: 128px;
    }

    .horizons-button-two{
        width: 192px;
    }

    .choose-us-text{
        font-size: 20px;
        width: 600px;
    }

    .choose-us-navbar-li{
        font-size: 25px;
    }

    .choose-us-navbar-ul{
        width: 700px;
    }

    .mission-text{
        font-size: 20px;
        width: 600px;
    }
}